{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 
    <title>Login - Portal TEA</title>
</head>
<body>
    <div class="login-container">
        <img src="{% static 'imagens/paciente.png' %}" alt="TEA Logo" /> 
        <h2>Portal TEA</h2>
        {% if form.errors %}
            <div class="mensagem-sucesso">Usuário ou senha inválidos.</div>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-group">
                <label for="usuario">Usuário: <span style="color: #c62828;">*</span></label>
                <input type="text" id="username" name="username" placeholder="Usuário" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha: <span style="color: #c62828;">*</span></label>
                <input type="password" id="password" name="password" placeholder="Senha" required>
            </div>
            <button class="login-btn" type="submit" name="entrar">Entrar</button>
        </form>
        <small>Bem-vindo! Portal dedicado ao cuidado de pessoas com TEA.</small>
    </div>
    <script>
        function validarCamposLogin() {
        var usuario = document.querySelector('input[name="usuario"]').value.trim();
        var senha = document.querySelector('input[name="senha"]').value.trim();
        var btn = document.querySelector('.login-btn');
        if (usuario && senha) {
            btn.disabled = false;
            } 
        else {
            btn.disabled = true;
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('input[name="usuario"]').addEventListener('input', validarCamposLogin);
        document.querySelector('input[name="senha"]').addEventListener('input', validarCamposLogin);
        validarCamposLogin();
        });
    </script>
</body>
</html>